.my-stuff {
  padding: 20px;
}

.flash {
  padding: 5px 15px;
}

.flash-notice {
  border: solid 2px green;
}

.flash-error {
  border: solid 2px red;
}

.question, .answer {
  border: solid 1px #555;
  margin: 10px;
  padding-left: 10px;
  list-style: none;
}
